/* Color Theme for NavBar */
.My-Color-Theme-1-hex { color: #3A5E3B; }

/* Color Theme Swatches in Hex */
.My-Color-Theme-1-hex { color: #495E33; }
.My-Color-Theme-2-hex { color: #D1E3BF; }
.My-Color-Theme-3-hex { color: #ABDE78; }
.My-Color-Theme-4-hex { color: #575E4F; }
.My-Color-Theme-5-hex { color: #85AD5D; }

/* Color Theme Swatches in RGBA */
.My-Color-Theme-1-rgba { color: rgba(73, 94, 51, 1); }
.My-Color-Theme-2-rgba { color: rgba(209, 227, 191, 1); }
.My-Color-Theme-3-rgba { color: rgba(171, 222, 120, 1); }
.My-Color-Theme-4-rgba { color: rgba(87, 94, 79, 1); }
.My-Color-Theme-5-rgba { color: rgba(133, 173, 93, 1); }

/* Color Theme Swatches in HSLA */
.My-Color-Theme-1-hsla { color: hsla(89, 29, 28, 1); }
.My-Color-Theme-2-hsla { color: hsla(90, 39, 81, 1); }
.My-Color-Theme-3-hsla { color: hsla(90, 60, 67, 1); }
.My-Color-Theme-4-hsla { color: hsla(88, 8, 33, 1); }
.My-Color-Theme-5-hsla { color: hsla(90, 32, 52, 1); }