:root {

    /* fonts */
    --cf-title-font: 'Bebas Neue', sans-serif;
    --cf-subtitle-font: 'Fira Sans', sans-serif;
    --cf-heading-font: 'Bebas Neue', sans-serif;
    --cf-body-font: 'Roboto', sans-serif;



    /* theme colors */
    --cf-primary-color: #ABDE78;
    --cf-secondary-color: #495E33;
    --cf-highlight-color: rgb(250, 225, 120);
    --cf-dark-color: rgb(33, 33, 33);
    --cf-light-color: #D1E3BF;
    --cf-background-color: rgba(250, 250, 250, 0.8);

    --cf-font-size: 1.2rem;
    --cf-font-weight: 400;
    --cf-line-height: 1.5rem;
    --cf-title-color: var(--cf-dark-color);

    --cf-formfocus-border-color: var(--cf-secondary-color);
    --cf-formfocus-shadow: var(--cf-primary-color);
    --cf-formfocus-background-color: var(--cf-background-color);

    --cf-nav-toggler-glow: rgba(250, 225, 120, .55);
    --cf-nav-toggler-color: var(--cf-highlight-color);
}

/* --- Element Overrides */
h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
    font-family: var(--cf-heading-font);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: var(--cf-title-color);
}


#mainNav button {
    border-color: var(--cf-highlight-color);
}

/* Bootstrap Overrides */

.navbar-toggler {
    color: var(--cf-nav-toggler-glow) !important;
}

.navbar-toggler-icon-cf {
    color: var(--cf-nav-toggler-color);
    font-size: 1.5rem;
    display: inline-block;
    vertical-align: middle;
}

/* Button Override */
.btn-outline-primary {
    color: var(--cf-dark-color);
    border-color: var(--cf-secondary-color) !important;
}

.btn-outline-primary:hover,
.btn-outline-primary:active,
.btn-outline-primary:focus {
    border-color: var(--cf-highlight-color);
    background-color: var(--cf-secondary-color);
}

.btn-primary {
    color: white !important;
    background-color: var(--cf-secondary-color) !important;
    border-color: var(--cf-secondary-color);
}

.btn-primary:hover {
    border-color: var(--cf-highlight-color);
    filter: brightness(1.1) !important;
}

.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    filter: brightness(1.1) !important;
    border-color: var(--cf-primary-color);
}



/* Form control Overrides */
.form-control,
.form-select {
    background-color: var(--cf-formfocus-background-color);
}

.form-control:focus,
.form-select:focus {
    background-color: var(--cf-formfocus-background-color);
    border-color: var(--cf-formfocus-border-color);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px var(--cf-formfocus-shadow);

}


html,
body {
    height: 100%;
}

.navColor {
    background-color: rgb(58, 94, 59) !important;
}

body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    font-family: var(--cf-body-font);
    font-size: var(--cf-font-size);
    font-weight: var(--cf-font-weight);
    line-height: var(--cf-line-height);
    color: var(--cf-dark-color);
    background-color: var(--cf-background-color);
    --webkit-text-size-adjust: 100%;
}

header {
    /* imageheight + 14px */
    padding-top: 74px;
}

section {
    padding-left: 1rem;
    padding-right: 1rem;
}

.section-page {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.section-page:nth-child(even) {
    background-color: var(--cf-light-color);
}

.section-page:nth-child(odd) {
    background-color: var(--cf-primary-color);
}

.profilePic {
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}

.devIcons {
    font-size: 4rem;
}

.mainHeader {
    background-image: url("/img/TempBanner.png");
    height: 200px;
    background-repeat: no-repeat;
    background-position: right top;
    background-color: var(--cf-light-color);
}

.mainHeader-wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
}

.mainTitle {
    font-family: var(--cf-title-font);
    font-size: 2.5rem;
    line-height: 2rem;
    color: var(--cf-dark-color);
    /* text-shadow: 2px 2px white;
    /* -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black; */
}

.mainLogo {
    height: 2em;
    margin-bottom: 0.2rem;
}

.subTitle {
    font-family: var(--cf-subtitle-font);
    font-size: .8rem;
    line-height: 1rem;
    font-weight: 300;
    letter-spacing: .09rem;
    color: var(--cf-dark-color);
}

/* make main section take all available space */
main {
    flex: 1 0 auto;
}

/* sticky footer */
footer {
    flex-shrink: 0
}

.footer-cta {
    border-radius: 15px;
    background-color: var(--cf-secondary-color);
    width: 76%;
}

.footerWhiteText {
    color: white;
}

.footer-bg-cta {
    background: linear-gradient(to bottom, var(--cf-background-color), var(--cf-background-color) 50%, var(--cf-dark-color) 50%, var(--cf-dark-color) 100%);
}

.footer-main {
    background-color: var(--cf-dark-color);
    color: var(--cf-light-color);
}

.socialicons {
    font-size: 2rem;
    color: var(--cf-light-color)
}

a.socialicons:hover {
    color: var(--cf-highlight-color);
    opacity: 1;
}

/* Media Queries break points */
@media (min-width: 575.98px) {
    .mainHeader {
        background-image: url("/img/LightWoodBanner_767.png");
        height: 200px;
    }
}

@media (min-width: 767.98px) {
    .mainHeader {
        background-image: url("/img/LightWoodBanner_992.png");
        height: 300px;
    }

    .mainTitle {
        font-size: 4.5rem;
        line-height: 3.5rem;
        text-shadow: 2px 2px white;
    }

    .subTitle {
        font-size: 1.2rem;
        line-height: 1rem;
        font-weight: 300;
        letter-spacing: .1rem;
    }

    .mainLogo {
        height: 3em;
    }
}

@media (min-width: 991.98px) {
    .mainHeader {
        background-image: url("/img/LightWoodBanner_1200.png");
        height: 400px;
    }

    .mainLogo {
        height: 4em;
    }
}

@media (min-width: 1199.98px) {
    .mainHeader {
        background-image: url("/img/LightWoodBanner_2560.png");
        height: 500px;
        background-size: cover;
    }

    .mainTitle {
        font-size: 6rem;
        line-height: 5rem;
        text-shadow: 2px 2px white;
    }

    .subTitle {
        font-size: 1.7rem;
        line-height: 1rem;
        font-weight: 300;
        letter-spacing: .1rem;
    }
}

@media (min-width: 1399.98px) {
    .mainHeader {
        background-image: url("/img/LightWoodBanner_2560.png");
        height: 500px;
        background-size: cover;
    }
}